// ==============PARAMETRS=======================

// TRANSITION PARAMETRS

$transition-time: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

// VIEWPORT WIDTH

$mobile: 480px;
$min-tablet: 767px;
$tablet: 768px;
$min-desktop: 1199px;
$desktop: 1200px;