<header class="site-header">
  <div class="site-header__container container">
    <div class="site-header__logo">
      <img src="/src/images/logo.png" alt="site-logo" class="logo-img" />
    </div>
    <div class="site-header__menu">
      <nav class="site-nav">
        <ul class="nav-list">
          <li class="nav-list__item">About us</li>
          <li class="nav-list__item">Program</li>
          <li class="nav-list__item">Speakers</li>
          <li class="nav-list__item">Price</li>
          <li class="nav-list__item">Reviews</li>
          <li class="nav-list__item">Contacts</li>
        </ul>
      </nav>
    </div>
    <button class="menu-btn" type="button">
        <svg width="30" height="16">
            <use>
            </use>
        </svg>
    </button>
  </div>
</header>
